*{
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height: 1.25em;
}
body{
	background: url(../images/beach.jpeg)no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide1 .fp-tableCell {
	vertical-align: top;
/*	width: 100%;
	height: 100%;*/
}
#intro{
	height: 75%;
	background: #111;
	color:#fff;
	opacity:.65;
	text-align: center;
}
#intro h2{
	font-size: 3.5em;
	padding-top: 15%;
	text-align: center;
	font: #000;
	border-radius: 50%;
	vertical-align: middle;
}
#slide2{
	background: url(../images/beach2.jpeg)no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#about{
	background: #111;
	opacity:.65;
	color:#fff;
	height:50%;
	text-align: center;
}
#about h2{
	padding-top: 10%;
}
#slide3 div#experience{
	background: #111;
	opacity:.65;
	color:#fff;
	/*height:50%;*/
}


#slide4{
	background: url(../images/beach2.jpeg)no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide4 div#contact{
	background: #111;
	opacity:.65;
	color:#fff;
	height:50%;
	text-align: center;
}
#padding{
	padding: 8%;
}
a{
	text-decoration: none;
	font-size: 1em;
	color:#fff;
}
p{
	font-size: 1.25em;
}
/*#geekwise{
    color: #fff;
}
#teaching{
	color:#fff;
}*/